package com.banguat.api.controller;

import com.banguat.api.model.TipoCambioResponse;
import com.banguat.api.service.TipoCambioService;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

@RestController
public class TipoCambioController {

    private final TipoCambioService tipoCambioService;

    public TipoCambioController(TipoCambioService tipoCambioService) {
        this.tipoCambioService = tipoCambioService;
    }

    @GetMapping("/tipo-cambio")
    public TipoCambioResponse getTipoCambio(@RequestParam String fechaIni, @RequestParam int moneda) {
        return tipoCambioService.getTipoCambio(fechaIni, moneda);
    }
}
